.contact-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius : 15px;
  background: #ffffff;
  box-shadow: 0 6px 25px rgba(0,0,0,0.1);
}

.title-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 8px 5px;
  font-size: 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #000;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

textarea {
  height: 120px;
  resize: none;
}

.btn-box {
  text-align: center;
  margin-top: 1.5rem;
}

button {
  background: black;
  color: white;
  font-size: 1.1rem;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #222;
  transform: scale(1.03);
}
