.section {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  justify-content: space-between;
}
.hamu {
  transition: all 0.3s ease;
  font-size: 3rem;
}

.hamu:hover {
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.list{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    list-style: none;  
      color: #435663;
    text-decoration: none;
    font-size: 1.5rem;
}
.list:hover{
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      
}